hw1/log_analyzer/log/nginx-access-ui.log-20170630
hw1/log_analyzer/log/nginx-access-ui.log-20170630.gz
hw1/log_analyzer/log/nginx-access-ui.log-20170629.gz
hw1/log_analyzer/log/nginx-access-ui.log-20170618